body {
  width: 500px;
}

#favicon {
  width: 16px;
  margin-right: 10px;
}

.label {
  margin-left: 10px;
}

#form-container{
  margin-bottom: 20px;
}

#filter-list{
  margin-top: 10px;
}

#filter-list{
  cursor: pointer;
}
